header {
  background-color: #ffffff; /* color de fondo */
  color: #fff; /* color del texto */
  padding: 20px; /* espacio alrededor del contenido */
}
  .header-nav-browser {
    font-size: var(--header-font);
    font-weight: var(--bold);
    color:wheat;
    
  }